@import './assets/scss/var.scss';

html {
  font-family: $font-family;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $color-primary;
  background-color: $color-default;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: $color-primary;
}

ul {
  padding: 0 1.5rem;
}

img {
  max-width: 250px;
  width: 100%;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 220px;
  display: inline-block;
  vertical-align: middle;
  color: $color-primary;
  background-color: #fff;
  -webkit-appearance: none;
  padding: .6rem;
  border-radius: .3rem;
  border: 3px solid rgba(0, 0, 0, .2);
  font-family: $font-family;
  font-size: .9rem;
  line-height: 1.4;
}

::placeholder {
  color: $color-primary;
}
