//.layout-enter-active, .layout-leave-active {
//  transition: opacity .5s
//}
//
//.layout-enter, .layout-leave-active {
//  opacity: 0
//}

$t-duration: 600ms;
$t-delay: 200ms;

.layout-enter-active,
.layout-leave-active {
  transition-duration: $t-duration * 2;

  &::before,
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 50%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  &::before {
    background-color: #00C58E;
  }

  &::after {
    top: 50%;
    background-color: #00C58E;
  }
}

.layout-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}

.layout-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.layout-leave-to {
  &::before,
  &::after {
    transform: scale(1);
    transform-origin: left;
  }
}

.layout-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.layout-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.layout-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}
