.tutuxt {
  position: relative;

  &-header {
    padding: 2rem;

    a {
      display: inline-block;
      vertical-align: top;
      margin-bottom: .5rem;
      font-size: 1.1rem;
    }
  }

  &-content {
    padding: 0 2rem;
  }
}
