$color-default: #FFFFFF;
$color-primary: #00C48D;
$color-secondary: #009D71;
$font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;