$color-default: #fff;
$color-primary: #00c48d;
$color-secondary: #108775;
$font-family:
  "Quicksand",
  "Source Sans Pro",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif;
